* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  position: relative;
}

.container {
  max-width: 1140px;
}

a {
  text-decoration: none;
  color: white;
  pointer-events: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

hr {
  margin: 1rem 0 0;
}

#loader {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
#loader .loading {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  display: inline-block;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader .loading::before, #loader .loading::after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 4px solid white;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}
#loader .loading::after {
  border: 4px solid red;
  animation-direction: alternate-reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bars__animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99;
  pointer-events: none;
}
.bars__animation .bar {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(2s + 0.1s * var(--i));
  pointer-events: none;
}

@keyframes show-bars {
  100% {
    opacity: 0;
  }
}
.sci {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
  z-index: 98;
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2470588235);
  border-radius: 200px;
}
.sci__item {
  padding: 6px 10px;
  border: 2px solid transparent;
  width: 100%;
  text-align: center;
  border-radius: 50%;
  transition: all 0.35s linear;
  color: black;
}
.sci__item:not(:last-child) {
  margin-bottom: 5px;
}
.sci__item:hover:nth-child(1) {
  background-color: #3B5998;
  box-shadow: 0 5px 10px 0 black;
  transform: translateY(-3px);
}
.sci__item:hover:nth-child(2) {
  background-color: #1674EA;
  box-shadow: 0 5px 10px 0 black;
  transform: translateY(-3px);
}
.sci__item:hover:nth-child(3) {
  background-color: #000000;
  box-shadow: 0 5px 10px 0 black;
  transform: translateY(-3px);
}
.sci__item:hover:nth-child(4) {
  background-color: #000000;
  box-shadow: 0 5px 10px 0 black;
  transform: translateY(-3px);
}

header {
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
  height: 100vh;
  position: relative;
}
header .container {
  max-width: 1320px;
}
header .header {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 3;
}
header .header__logo {
  font-size: 30px;
  position: relative;
}
header .header__logo::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  transform: translateY(-7px);
}
header .header .bars {
  cursor: pointer;
  display: none;
}
header .header .menu__item {
  margin-left: 5px;
}
header .header .menu__link {
  margin: 5px 0;
  padding: 4px 15px;
  color: white;
  position: relative;
  transition: all 0.3s linear;
}
header .header .menu__link:hover {
  color: #04fffb;
}
header .header .menu__link:focus {
  background-color: rgba(4, 255, 251, 0.3568627451);
  color: white;
}
header .header .menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #04fffb;
  width: 0;
  height: 2px;
  border-radius: 20px;
  transition: all 0.3s linear;
}
header .header .menu__link:hover::after {
  width: 100%;
  height: 2px;
  left: 0;
}
header .home {
  height: 90vh;
  padding: 0 9% 0;
  z-index: -1;
}
header .home__info h1 {
  font-weight: 700;
}
header .home__info h2 {
  display: inline-block;
}
header .home__info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #7cf03d;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
header .home__info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #7cf03d;
  color: #7cf03d;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}
@keyframes fill-text {
  10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
@keyframes display-text {
  25%, 100% {
    display: none;
  }
}
header .home__info .btn__sci__CV {
  padding: 6px 25px;
  border: 2px solid transparent;
  border-radius: 100px;
  box-shadow: 0 0 10px #04fffb;
  background-color: #04fffb;
  text-align: center;
  transition: all 0.3s linear;
}
header .home__info .btn__sci__CV a {
  font-weight: 700;
  color: #000000;
  transition: all 0.3s linear;
}
header .home__info .btn__sci__CV:hover {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #04fffb;
}
header .home__info .btn__sci__CV:hover a {
  color: #04fffb;
}
header .home__info .btn__sci__item {
  margin-left: 10px;
  padding: 6px 10px;
  border: 2px solid #04fffb;
  border-radius: 100px;
  text-align: center;
  transition: all 0.3s linear;
}
header .home__info .btn__sci__item:hover {
  border: 2px solid transparent;
  border-radius: 100px;
  box-shadow: 0 0 10px #04fffb;
  background-color: #04fffb;
}
header .home__info .btn__sci__item:hover a {
  color: #000000;
}
header .home__info .btn__sci__item a {
  color: #04fffb;
  transition: all 0.3s linear;
}
header .home__avatar__box {
  position: relative;
  width: 25vw;
  height: 25vw;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header .home__avatar__box::before, header .home__avatar__box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent, transparent, transparent, #04fffb);
  animation: border-avatar 8s linear infinite;
}
header .home__avatar__box::after {
  animation-delay: -4s;
}
@keyframes border-avatar {
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}
header .home__avatar__item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #000000;
  box-shadow: inset 0 0 20px 5px rgba(121, 120, 120, 0.7176470588);
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 1;
}
header .home__avatar__item img {
  position: absolute;
  display: block;
  object-fit: cover;
  mix-blend-mode: lighten;
}
header .scrolldown {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-40%, 0);
}
header .scrolldown__box {
  width: 32px;
  height: 52px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin: auto;
  border-radius: 50% 50% 50% 50%/25% 25% 25% 25%;
  cursor: pointer;
}
header .scrolldown__box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  animation: scrollDown 1.5s linear infinite;
}
@keyframes scrollDown {
  0% {
    top: 10px;
    height: 4px;
    opacity: 1;
  }
  33% {
    top: 15px;
    height: 20px;
  }
  66% {
    top: 40px;
    height: 0px;
    opacity: 1;
  }
  100% {
    bottom: 10px;
    height: 0px;
    opacity: 0;
  }
}

.about {
  position: relative;
  z-index: 2;
  background-color: black;
}
.about__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 40px;
}
.about__header__text1 {
  color: transparent;
  font-size: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5137254902);
}
.about__header__text2 {
  position: absolute;
  font-size: 45px;
  color: #7cf03d;
  text-shadow: 0 0 6px #7cf03d;
}
.about__content {
  margin-bottom: 120px;
}
.about__content__image {
  position: relative;
  width: 23vw;
  height: 23vw;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  border: 2px dashed white;
  padding: 5px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.about__content__image .image__box {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 2px dashed white;
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.about__content__image .image__box img {
  position: absolute;
}
.about__content__text h2 {
  font-size: 35px;
}
.about__content__text p {
  margin-top: 16px;
}
.about__content__info .info__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}
.about__content__info .info__item {
  margin-right: 50px;
  margin-bottom: 10px;
}
.about__content__btn {
  width: 150px;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #04fffb;
  border-radius: 100px;
  text-align: center;
  transition: all 0.5s linear;
}
.about__content__btn a {
  transition: all 0.5s linear;
}
.about__content__btn:hover {
  background-color: #04fffb;
  box-shadow: 0 0 10px #04fffb;
}
.about__content__btn:hover a {
  color: black;
}

.education {
  z-index: 1;
}
.education__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 40px;
}
.education__header__text1 {
  color: transparent;
  font-size: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5137254902);
}
.education__header__text2 {
  position: absolute;
  font-size: 45px;
  color: #7cf03d;
  text-shadow: 0 0 6px #7cf03d;
}

.skill {
  z-index: 1;
}
.skill__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 40px;
}
.skill__header__text1 {
  color: transparent;
  font-size: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5137254902);
}
.skill__header__text2 {
  position: absolute;
  font-size: 45px;
  color: #7cf03d;
  text-shadow: 0 0 6px #7cf03d;
}

.project {
  z-index: 1;
}
.project__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 40px;
}
.project__header__text1 {
  color: transparent;
  font-size: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5137254902);
}
.project__header__text2 {
  position: absolute;
  font-size: 45px;
  color: #7cf03d;
  text-shadow: 0 0 6px #7cf03d;
}

.review {
  z-index: 1;
}
.review__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 40px;
}
.review__header__text1 {
  color: transparent;
  font-size: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5137254902);
}
.review__header__text2 {
  position: absolute;
  font-size: 45px;
  color: #7cf03d;
  text-shadow: 0 0 6px #7cf03d;
}

.contact {
  z-index: 1;
}
.contact__header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 70px 0 40px;
}
.contact__header__text1 {
  color: transparent;
  font-size: 100px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5137254902);
}
.contact__header__text2 {
  position: absolute;
  font-size: 45px;
  color: #7cf03d;
  text-shadow: 0 0 6px #7cf03d;
}
.contact .contact__content {
  margin-bottom: 60px;
  max-width: 1000px;
}
.contact .contact__content__info {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.contact .contact__content__info .contact__info__box {
  position: relative;
  display: flex;
  padding: 20px;
}
.contact .contact__content__info .contact__info__box .icon {
  position: relative;
  min-width: 60px;
  min-height: auto;
  width: auto;
  height: 60px;
  border: 2px solid white;
}
.contact .contact__content__info .contact__info__box .icon a {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s linear;
  color: black;
}
.contact .contact__content__info .contact__info__box .icon a::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: white;
  z-index: -1;
  transition: all 0.3s linear;
}
.contact .contact__content__info .contact__info__box .icon::before, .contact .contact__content__info .contact__info__box .icon::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(0, -50%);
  width: calc(100% + 5px);
  height: calc(100% - 12px);
  background-color: black;
}
.contact .contact__content__info .contact__info__box .icon::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 6px);
  height: calc(100% - 12px);
  transition: all 0.3s linear;
}
.contact .contact__content__info .contact__info__box .icon::after {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 12px);
  height: calc(100% + 4px);
  transition: all 0.3s linear;
}
.contact .contact__content__info .contact__info__box .icon:hover::before {
  width: calc(100% + 4px);
  height: 0%;
}
.contact .contact__content__info .contact__info__box .icon:hover::after {
  width: 0%;
  height: calc(100% + 4px);
}
.contact .contact__content__info .contact__info__box .text {
  margin-left: 10px;
}
.contact .contact__content__info .contact__info__box .text h3 {
  margin-bottom: 4px;
  color: white;
}
.contact .contact__content__form {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  width: 45%;
}
.contact .contact__content__form::before, .contact .contact__content__form::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  animation: animete-form 6s linear infinite;
}
.contact .contact__content__form::before {
  width: 500%;
  height: 40%;
}
.contact .contact__content__form::after {
  width: 40%;
  height: 500%;
}
@keyframes animete-form {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.contact .contact__content__form .contact__form__box {
  position: relative;
  top: 50%;
  left: 50%;
  margin-bottom: 55px;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 105%;
  height: 99%;
  z-index: 2;
}
.contact .contact__content__form .contact__form__box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  height: 95%;
  background-color: #333;
  z-index: -1;
}
.contact .contact__content__form .contact__form__box h2 {
  font-size: 30px;
  position: relative;
  left: 11%;
  padding-top: 50px;
}
.contact .contact__content__form .contact__form__box .inputbox {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
  width: 77%;
  margin-top: 20px;
}
.contact .contact__content__form .contact__form__box .inputbox input,
.contact .contact__content__form .contact__form__box .inputbox textarea {
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  border: none;
  background-color: transparent;
  color: white;
  border-bottom: 1px solid #01dbc2;
}
.contact .contact__content__form .contact__form__box .inputbox input:focus,
.contact .contact__content__form .contact__form__box .inputbox textarea:focus {
  outline: none;
}
.contact .contact__content__form .contact__form__box .inputbox input:focus ~ span, .contact .contact__content__form .contact__form__box .inputbox input:valid ~ span,
.contact .contact__content__form .contact__form__box .inputbox textarea:focus ~ span,
.contact .contact__content__form .contact__form__box .inputbox textarea:valid ~ span {
  color: #01dbc2;
  transform: translateY(-20px);
  font-size: calc(100% - 2px);
}
.contact .contact__content__form .contact__form__box .inputbox input[type=submit] {
  background-color: #01dbc2;
  color: black;
  transition: all 0.3s linear;
}
.contact .contact__content__form .contact__form__box .inputbox input[type=submit]:hover {
  background-color: #04fffb;
}
.contact .contact__content__form .contact__form__box .inputbox textarea {
  width: 100%;
  height: 38px;
  resize: none;
  white-space: nowrap;
  overflow: hidden;
}
.contact .contact__content__form .contact__form__box .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  margin: 10px 0;
  pointer-events: none;
  transition: all 0.3s linear;
}

footer .backtotop {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
footer .backtotop__link a {
  padding: 10px 15px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: black;
}
footer .backtotop__link a i {
  opacity: 1;
}
@keyframes totop {
  0% {
    opacity: 1;
    transform: translateY(80%);
  }
  100% {
    opacity: 1;
    transform: translateY(-80%);
  }
}
footer .backtotop__link a:hover i {
  animation: totop 1s linear infinite;
}
footer .backtotop::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: white;
  z-index: -1;
}
footer .footer__content {
  margin: 50px 0;
}
footer .footer__content__list {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
}
footer .footer__content__items {
  display: flex;
  justify-content: center;
}
footer .footer__content__items i {
  margin-right: 5px;
}
footer .copyright {
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color: #e6e6e6;
}
footer .copyright a {
  color: #7cf03d;
}
footer .copyright::before {
  content: "*";
  color: red;
}

@media (max-width: 992px) {
  .header {
    display: flex;
    flex-direction: column;
    position: fixed;
  }
  .header .abs {
    width: 100%;
  }
  .header .abs .bars {
    display: block;
  }
  .menu {
    display: none;
    margin-top: 10px;
    width: 100%;
    border-radius: 0 0 12px 12px;
    background-color: black;
  }
  .menu__item {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .menu__link {
    width: 50%;
  }
  .menu__link:hover {
    border-radius: 20px;
    box-shadow: inset 0 0 15px #04fffb;
    transform: scale(1.2);
  }
  .menu__link:focus {
    border-radius: 20px;
    box-shadow: inset 0 0 5px #04fffb;
  }
  .menu__link:hover::after {
    display: none;
  }
  .home {
    display: flex;
    flex-direction: column;
  }
  .home__info {
    order: 2;
    margin-top: 100px;
  }
  .home__avatar {
    order: 1;
    margin-left: 11px;
    margin-top: 180px;
    transform: scale(1.7);
  }
  .home__avatar__box {
    width: 100%;
    height: 100%;
    padding: 3px !important;
  }
  .home__avatar__item {
    width: 100%;
    height: 100%;
  }
  .about__content {
    flex-direction: column;
  }
  .about__content__image {
    margin: 0;
    transform: scale(1.5);
  }
  .about__content__text {
    margin-top: 70px;
    width: 80%;
  }
  .about__content__btn {
    margin: 0 auto;
    width: 40%;
  }
}
@media (max-width: 771px) {
  .footer__content__items a {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .home__avatar__box {
    padding: 3px !important;
  }
  .about__header {
    padding-top: 50px;
    padding-bottom: 15px;
  }
  .about__content__image {
    margin-top: 50px;
  }
  .contact__content {
    position: relative;
  }
  .contact__content__info {
    position: relative;
    left: 20%;
  }
  .contact__content__form {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 60% !important;
  }
  .footer__content__list {
    flex-direction: column;
    gap: 5px !important;
  }
  .footer__content__items a {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}
@media (max-width: 576px) {
  .sci {
    display: none;
  }
  .home__info {
    margin-top: 50px;
    margin-left: 10px;
  }
  .home__info h1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  .home__info h2 {
    text-align: center;
  }
  .home__info p {
    display: none;
  }
  .home__info .btn__sci {
    display: flex;
    flex-direction: column;
  }
  .home__info .btn__sci__list {
    margin-left: -12px;
    margin-top: 10px;
  }
  .home__avatar {
    order: 1;
    margin-left: 11px;
    margin-top: 110px;
    transform: scale(1.5);
  }
  .about {
    height: auto;
  }
  .about__header__text1 {
    font-size: 67px;
  }
  .about__header__text2 {
    font-size: 29px;
  }
  .about__content__text {
    width: 100%;
  }
  .about__content__text h2 {
    font-size: 27px;
  }
  .about__content__btn {
    margin: 0 auto;
    width: 150px;
  }
  .education__header__text1 {
    font-size: 67px;
  }
  .education__header__text2 {
    font-size: 29px;
  }
  .skill__header__text1 {
    font-size: 67px;
  }
  .skill__header__text2 {
    font-size: 29px;
  }
  .project__header__text1 {
    font-size: 67px;
  }
  .project__header__text2 {
    font-size: 29px;
  }
  .review__header__text1 {
    font-size: 67px;
  }
  .review__header__text2 {
    font-size: 29px;
  }
  .contact__header__text1 {
    font-size: 67px;
  }
  .contact__header__text2 {
    font-size: 29px;
  }
  .contact__content__info {
    left: 0;
  }
  .contact__content__form {
    width: 100% !important;
  }
}
@media (max-width: 375px) {
  .about__header__text1 {
    font-size: 50px;
  }
  .about__header__text2 {
    font-size: 22px;
  }
  .education__header__text1 {
    font-size: 50px;
  }
  .education__header__text2 {
    font-size: 22px;
  }
  .skill__header__text1 {
    font-size: 50px;
  }
  .skill__header__text2 {
    font-size: 22px;
  }
  .project__header__text1 {
    font-size: 50px;
  }
  .project__header__text2 {
    font-size: 22px;
  }
  .review__header__text1 {
    font-size: 50px;
  }
  .review__header__text2 {
    font-size: 22px;
  }
  .contact__header__text1 {
    font-size: 50px;
  }
  .contact__header__text2 {
    font-size: 22px;
  }
  .contact__form__box {
    width: 107% !important;
    height: 99% !important;
  }
}
@media (max-height: 700px) {
  .scrolldown__box {
    display: none;
  }
}
@media (max-height: 600px) {
  .home__avatar {
    margin-top: 65px;
  }
}

/*# sourceMappingURL=style.css.map */
