@import "./variable.scss";

.project {
  z-index: 1;
  &__header {
    @include title-style;
  }
  .project__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
    .project__items {
      margin: 12px 15px;
    }
    .project__link {
      padding: 3px 20px;
      border: 2px solid white;
      border-radius: 30px;
      transition: all 0.3s linear;
      &:hover,
      &:focus {
        background-color: $color-link;
        border: 2px solid $color-link;
        color: #000;
        box-shadow: 0 0 5px $color-link, 0 0 8px $color-link,
          0 0 20px $color-link;
      }
    }
  }
  .project__content {
    .project__card {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 30px;
      .card__box {
        &:hover .card__article {
          transform: rotateY(180deg);
        }
        &:hover .card__data::before {
          animation: light-animation 1.2s linear;
          animation-delay: 1s;
        }
        .card__article {
          position: relative;
          top: 0;
          left: 0;
          transform-style: preserve-3d;
          @include size(300px, 220px);
          transition: all 1s cubic-bezier(0.7, -0.5, 0.3, 1.8);
          border-radius: 12px;
          cursor: pointer;
          .card__imgbox img,
          .card__data {
            position: absolute;
            top: 0;
            left: 0;
            @include size(100%);
            backface-visibility: hidden;
            border-radius: 12px;
          }
          .card__imgbox {
            img {
              border: 2px solid #333;
            }
          }
          .card__data {
            overflow: hidden;
            background-color: #333;
            transform: rotateY(180deg);
            border: 1px solid transparent;
            &::before {
              content: "";
              position: absolute;
              top: 50%;
              left: -100%;
              transform: translateY(-50%) rotate(45deg);
              width: 40%;
              height: 1000%;
              background: #444;
            }
            &::after {
              content: "";
              position: absolute;
              top: 37%;
              left: 50%;
              transform: translateX(-50%);
              @include size(0, 2px);
              background-color: #888;
              border-radius: 30px;
              transition: all 0.4s linear;
            }
            &:hover::after {
              width: 77%;
            }
            @keyframes light-animation {
              0% {
                top: 0;
                left: -15%;
              }
              33% {
                bottom: 0;
                left: 200%;
              }
              66% {
                bottom: 0;
                left: 200%;
              }
              100% {
                top: 0;
                left: -15%;
              }
            }
            .card__content {
              position: absolute;
              bottom: 0;
              left: 0;
              padding: 10px 20px;
              .card__title {
                color: $color-title;
                text-align: center;
                margin: 20px 0;
                position: relative;
              }
              p {
                font-size: 14px;
              }
              .card__btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .link__left {
                  position: relative;
                  color: $color-link;
                  &::before {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include size(0, 1px);
                    background-color: $color-link;
                    transition: all 0.3s linear;
                  }
                  &:hover::before {
                    width: 86%;
                  }
                  i {
                    font-size: 11px;
                    opacity: 0;
                    transform: translateX(-100%);
                    transition: all 0.3s linear;
                    transition-delay: 0.3s;
                  }
                  &:hover i {
                    opacity: 1;
                    transform: translateX(0);
                  }
                }
                .link__right {
                  color: $color-link;
                  background-color: #555;
                  padding: 3px 15px;
                  border-radius: 30px;
                  border: 2px dashed transparent;
                  transition: all 0.3s linear;
                  &:hover {
                    background-color: transparent;
                    border: 2px dashed $color-link;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
