@mixin size($width, $height : $width){
    width: $width;
    height: $height;
}
@mixin max-size($max-width, $max-height : $max-width){
    max-width: $max-width;
    max-height: $max-height;
}
@mixin min-size($min-width, $min-height : $min-width){
    min-width: $min-width;
    min-height: $min-height;
}
@mixin title-style{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 0 40px;

    &__text1 {
        color: transparent;
        font-size: 100px;
        -webkit-text-stroke: 1px #ffffff83;
    }

    &__text2 {
        position: absolute;
        font-size: 45px;
        color: $color-title;
        text-shadow: 0 0 6px $color-title;
    }
}
@mixin title-style-768{
    &__header{
        padding-top: 50px;
        padding-bottom: 15px;
    }
}
@mixin title-style-576{
    &__header{
        &__text1{
            font-size: 67px;
        }
        &__text2{
            font-size: 29px;
        }
    }
}
@mixin title-style-375{
    &__header{
        &__text1{
            font-size: 50px;
        }
        &__text2{
            font-size: 22px;
        }
    }
}
$color-link: #04fffb;
$color-title: #7cf03d;