* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  color: white;
  position: relative;
}

a {
  text-decoration: none;
  color: white;
  pointer-events: auto;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

#loader {
  background-color: black;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 100;
}
#loader .loading {
  margin: 0;
  padding: 0;
  width: 70px;
  height: 70px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loader .loading::before, #loader .loading::after {
  content: "";
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: 4px solid white;
  position: absolute;
  left: 0;
  top: 0;
  animation: rotation 2s ease-in-out infinite alternate;
}
#loader .loading::after {
  border: 4px solid red;
  animation-direction: alternate-reverse;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.bars__animation {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 99;
  pointer-events: none;
}
.bars__animation .bar {
  width: 100%;
  height: 100%;
  background-color: #000000;
  opacity: 1;
  animation: show-bars 0.5s ease-in-out forwards;
  animation-delay: calc(3s + 0.1s * var(--i));
  pointer-events: none;
}

@keyframes show-bars {
  100% {
    opacity: 0;
  }
}
.sci {
  position: fixed;
  top: 50%;
  left: 2%;
  transform: translate(0, -50%);
  z-index: 98;
  padding: 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.2470588235);
  border-radius: 200px;
}
.sci__item {
  padding: 6px 10px;
  border: 2px solid transparent;
  width: 100%;
  text-align: center;
  border-radius: 50%;
  transition: all 0.35s linear;
  color: black;
}
.sci__item:not(:last-child) {
  margin-bottom: 5px;
}
.sci__item:hover:nth-child(1) {
  background-color: #3B5998;
  box-shadow: 0 5px 10px 0 black;
  transform: translateY(-3px);
}
.sci__item:hover:nth-child(2) {
  background-color: #1674EA;
  box-shadow: 0 5px 10px 0 black;
  transform: translateY(-3px);
}
.sci__item:hover:nth-child(3) {
  background-color: #000000;
  box-shadow: 0 5px 10px 0 black;
  transform: translateY(-3px);
}
.sci__item:hover:nth-child(4) {
  background-color: #000000;
  box-shadow: 0 5px 10px 0 black;
  transform: translateY(-3px);
}

header {
  background: url(./images/background.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  position: relative;
}
header .header {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 2;
}
header .header__logo {
  font-size: 30px;
  position: relative;
}
header .header__logo::after {
  content: "";
  width: 8px;
  height: 8px;
  background-color: red;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  transform: translateY(-7px);
}
header .header .bars {
  cursor: pointer;
  display: none;
}
header .header .menu__item {
  margin-left: 5px;
}
header .header .menu__link {
  margin: 5px 0;
  padding: 4px 15px;
  color: white;
  position: relative;
  transition: all 0.25s linear;
}
header .header .menu__link:hover {
  color: #7cf03d;
}
header .header .menu__link:focus {
  background-color: rgba(124, 240, 61, 0.3568627451);
  color: white;
}
header .header .menu__link:hover span:nth-child(1), header .header .menu__link:hover span:nth-child(2) {
  width: 100%;
}
header .header .menu__link span {
  display: block;
  position: absolute;
  background-color: #7cf03d;
  transition: all 0.25s linear;
}
header .header .menu__link span:nth-child(1) {
  top: 0;
  left: 0;
  width: 0;
  height: 2.5px;
}
header .header .menu__link span:nth-child(2) {
  bottom: 0;
  right: 0;
  width: 0;
  height: 2.5px;
}
header .home {
  height: 90vh;
  padding: 0 9% 0;
}
header .home__info h1 {
  font-weight: 700;
}
header .home__info h2 {
  display: inline-block;
}
header .home__info h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.7px #7cf03d;
  animation: display-text 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
header .home__info h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 2px solid #7cf03d;
  color: #7cf03d;
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}
@keyframes fill-text {
  10%, 100% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}
@keyframes display-text {
  25%, 100% {
    display: none;
  }
}
header .home__info .btn__sci__CV {
  padding: 6px 25px;
  border: 2px solid transparent;
  border-radius: 100px;
  box-shadow: 0 0 10px #7cf03d;
  background-color: #7cf03d;
  text-align: center;
  transition: all 0.3s linear;
}
header .home__info .btn__sci__CV a {
  font-weight: 700;
  color: #000000;
  transition: all 0.3s linear;
}
header .home__info .btn__sci__CV:hover {
  background-color: transparent;
  box-shadow: none;
  border: 2px solid #7cf03d;
}
header .home__info .btn__sci__CV:hover a {
  color: #7cf03d;
}
header .home__info .btn__sci__item {
  margin-left: 10px;
  padding: 6px 10px;
  border: 2px solid #7cf03d;
  border-radius: 100px;
  text-align: center;
  transition: all 0.3s linear;
}
header .home__info .btn__sci__item:hover {
  border: 2px solid transparent;
  border-radius: 100px;
  box-shadow: 0 0 10px #7cf03d;
  background-color: #7cf03d;
}
header .home__info .btn__sci__item:hover a {
  color: #000000;
}
header .home__info .btn__sci__item a {
  color: #7cf03d;
  transition: all 0.3s linear;
}
header .home__avatar__box {
  position: relative;
  width: 32vw;
  height: 32vw;
  min-width: 150px;
  min-height: 150px;
  border-radius: 50%;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
header .home__avatar__box::before, header .home__avatar__box::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent, transparent, transparent, #7cf03d);
  animation: border-avatar 8s linear infinite;
}
header .home__avatar__box::after {
  animation-delay: -4s;
}
@keyframes border-avatar {
  100% {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
  }
}
header .home__avatar__item {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid transparent;
  background-color: #000000;
  box-shadow: inset 0 0 20px 5px rgba(121, 120, 120, 0.7176470588);
  overflow: hidden;
  display: flex;
  justify-content: center;
  z-index: 1;
}
header .home__avatar__item img {
  position: absolute;
  display: block;
  object-fit: cover;
  mix-blend-mode: lighten;
}
header .scrolldown {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-40%, 0);
}
header .scrolldown__box {
  width: 32px;
  height: 52px;
  position: relative;
  box-sizing: border-box;
  border: 2px solid #fff;
  margin: auto;
  border-radius: 50% 50% 50% 50%/25% 25% 25% 25%;
  cursor: pointer;
}
header .scrolldown__box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 20px;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  background: #fff;
  border-radius: 10px;
  animation: scrollDown 1.5s linear infinite;
}
@keyframes scrollDown {
  0% {
    top: 10px;
    height: 4px;
    opacity: 1;
  }
  33% {
    top: 15px;
    height: 20px;
  }
  66% {
    top: 40px;
    height: 0px;
    opacity: 1;
  }
  100% {
    bottom: 10px;
    height: 0px;
    opacity: 0;
  }
}

@media (max-width: 992px) {
  .header {
    display: flex;
    flex-direction: column;
    position: fixed;
  }
  .header .abs {
    width: 100%;
  }
  .header .abs .bars {
    display: block;
  }
  .menu {
    display: none;
    margin-top: 10px;
    width: 100%;
    border-radius: 0 0 12px 12px;
    background-color: black;
  }
  .menu__item {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .menu__link {
    width: 50%;
  }
  .menu__link:hover {
    border-radius: 20px;
    box-shadow: inset 0 0 15px #7cf03d;
    transform: scale(1.1);
  }
  .menu__link:focus {
    border-radius: 20px;
    box-shadow: inset 0 0 5px #7cf03d;
  }
  .menu__link:hover span:nth-child(1), .menu__link:hover span:nth-child(2) {
    display: none;
  }
  .home__info {
    margin-left: -25px;
  }
  .home__info h1 {
    font-size: 30px;
  }
  .home__info h2 {
    font-size: 25px;
  }
  .home__info p {
    font-size: 14px;
  }
  .home__info a {
    font-size: 14px;
  }
  .home__info .btn__sci .btn__sci__item {
    padding: 5px 10px;
  }
  .home__avatar {
    margin-left: 50px;
  }
}
@media (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
  }
  .home__info {
    order: 2;
    margin-left: 10px;
    width: 100%;
  }
  .home__info h1 {
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  .home__info h2 {
    display: block;
    width: 100%;
    text-align: center;
  }
  .home__info p {
    display: none;
  }
  .home__info .btn__sci {
    display: flex;
    flex-direction: column;
  }
  .home__info .btn__sci__list {
    margin-left: -10px;
    margin-top: 10px;
  }
  .home__avatar {
    order: 1;
    margin-left: 11px;
    margin-top: 100px;
  }
}
@media (max-width: 576px) {
  .sci {
    display: none;
  }
}
@media (max-height: 600px) {
  .scrolldown__box {
    display: none;
  }
  .home__avatar {
    margin-top: 65px;
  }
}

/*# sourceMappingURL=style.css.map */
