@import './variable.scss';

.contact{
    z-index: 1;
    &__header{
        @include title-style;
    }
    .contact__content{
        margin-bottom: 60px;
        max-width: 1000px;
        &__info{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            .contact__info__box{
                position: relative;
                display: flex;
                padding: 20px;
                .icon{
                    position: relative;
                    @include min-size(60px, auto);
                    @include size(auto, 60px);
                    border: 2px solid white;
                    a{
                        position: relative;
                        z-index: 1;
                        @include size(100%);
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        transition: all 0.3s linear;
                        color: black;
                        &::after{
                            content: '';
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            @include size(90%);
                            background-color: white;
                            z-index: -1;
                            transition: all 0.3s linear;
                        }
                    }
                    &::before,
                    &::after{
                        content: '';
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(0, -50%);
                        @include size(calc(100% + 5px), calc(100% - 12px));
                        background-color: black;
                    }
                    &::before{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include size(calc(100% + 6px), calc(100% - 12px));
                        transition: all 0.3s linear;
                    }
                    &::after{
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        @include size(calc(100% - 12px), calc(100% + 4px));
                        transition: all 0.3s linear;
                    }
                    &:hover::before{
                        @include size(calc(100% + 4px), calc(100% - 100%));
                    }
                    &:hover::after{
                        @include size(calc(100% - 100%), calc(100% + 4px));
                    }
                    // &:hover a{
                    //     color: $color-link;
                    //     text-shadow: 0 0 10px $color-link;    
                    // }
                    // &:hover a::after{
                    //     background-color: transparent;
                    // }
                }
                .text{
                    margin-left: 10px;
                    h3{
                        margin-bottom: 4px;
                        color: white;
                    }
                }
            }    
        }
        &__form{
            position: relative;
            overflow: hidden;
            background-color: transparent;
            width: 45%;
            // margin-left: auto;
            &::before,
            &::after{
                content: '';
                @include center-box;
                background-color: white;
                animation: animete-form 6s linear infinite;
            }
            &::before{
                @include size(500%, 40%);
            }
            &::after{
                @include size(40%, 500%);
            }
            @keyframes animete-form {
                100%{
                    transform: translate(-50%, -50%) rotate(360deg);
                }
            }
            .contact__form__box{
                position: relative;
                top: 50%;
                left: 50%;
                margin-bottom: 55px;
                transform: translate(-50%, -50%);
                background-color: black;
                @include size(103%, 98%);
                z-index: 2;
                &::before{
                    content: '';
                    @include center-box;
                    @include size(90%);
                    background-color: #333;
                    z-index: -1;
                }
                h2{
                    font-size: 30px;
                    padding-top: 50px;
                    padding-left: 50px;
                }
                .inputbox{
                    position: relative;
                    left: 50%;
                    transform: translate(-50%, 0);
                    width: 77%;
                    margin-top: 20px;
                    input,
                    textarea {
                        width: 100%;
                        padding: 5px 0;
                        margin: 10px 0;
                        border: none;
                        background-color: transparent;
                        color: white;
                        border-bottom: 1px solid #01dbc2;
                        &:focus {
                            outline: none;
                        }
                        &:focus ~ span,
                        &:valid ~ span {
                            color: #01dbc2;
                            transform: translateY(-20px);
                            font-size: calc(100% - 2px);
                        }
                    }
                    input[type="submit"] {
                        background-color: #01dbc2;
                        color: black;
                        transition: all 0.3s linear;
                        &:hover {
                            background-color: $color-link;
                        }
                    }
                    textarea {
                        @include size(100%, 38px);
                        resize: none;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    span{
                        position: absolute;
                        left: 0;
                        padding: 5px 0;
                        margin: 10px 0;
                        pointer-events: none;
                        transition: all 0.3s linear;
                    }
                }
            }        
        }
    }
}