@import 'variable';

.education{
    z-index: 1;
    &__header{
        @include title-style;
    }
    .timeline{
        &__items{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                @include size(5px, 100%);
                background-color: $color-link;
            }
        }
        &__item{
            &:nth-child(odd){
                text-align: right;
                padding-right: calc(50% + 30px);
            }
            &:nth-child(even){
                padding-left: calc(50% + 30px);
            }
        }
        &__date{
            i{
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                color: black;
                z-index: 1;
                border: 2px solid $color-link;
                padding: 5px 10px;
                border-radius: 50%;
                background-color: $color-link;
            }
        }
    }
}