@import 'variable';

.education{
    z-index: 1;
    &__header{
        @include title-style;
    }
    .timeliner{
        &__items{
            margin: auto;
            display: flex;
        }
    }
}