@import 'variable';

.education{
    z-index: 1;
    &__header{
        @include title-style;
    }
    .timeline{
        &__items{
            position: relative;
            &::before{
                content: '';
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                @include size(5px, 100%);
                background-color: $color-link;
            }
        }
        &__item{
            &:nth-child(odd){
                text-align: right;
                padding-right: calc(50% + 30px);
            }
            &:nth-child(even){
                padding-left: calc(50% + 30px);
            }
        }
        &__date{
            i{
                position: absolute;
                left: 50%;
                transform: translate(-50%, 0);
                color: black;
                z-index: 1;
                border: 2px solid $color-link;
                padding: 5px 4px;
                border-radius: 50%;
                background-color: $color-link;
                box-shadow: 0 0 25px $color-link,
                            0 0 50px $color-link;
            }
            span{
                position: relative;
                font-size: 20px;
                font-weight: 600;
                cursor: pointer;
                &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    @include size(30%, 3px);
                    background-color: $color-link;
                    border-radius: 30px;
                    transition: all 0.3s linear;
                }
                &:hover::before{
                    @include size(100%, 3px);
                }
            }
        }
    }
}