@import "./variable.scss";

footer {
  .backtotop {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    position: relative;
    &__link {
      a {
        padding: 10px 15px;
        border-radius: 50%;
        border: 2px solid white;
        background-color: black;
        i {
          opacity: 1;
          @keyframes totop {
            0% {
              opacity: 1;
              transform: translateY(80%);
            }
            100% {
              opacity: 1;
              transform: translateY(-80%);
            }
          }
        }
        &:hover i {
          animation: totop 1s linear infinite;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      @include size(100%, 2px);
      background-color: white;
      z-index: -1;
    }
  }
  .footer {
    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .logo {
        display: block;
        width: 15%;
        .st0 {
          fill: none;
        }

        .st1 {
          fill: transparent;
          stroke: white;
          stroke-width: 2;
          stroke-miterlimit: 10;
          stroke-dasharray: 1800;
          stroke-dashoffset: 0;
          animation: effecttexxt 3s linear infinite alternate;
        }
      }
    }
  }
  .copyright {
    font-size: 12px;
    font-weight: 500;
    font-style: italic;
    color: #e6e6e6;
    a {
      color: $color-title;
    }
    &::before {
      content: "*";
      color: red;
    }
  }
}
