@import './variable.scss';

@media (max-width:992px){
    .header{
        display: flex;
        flex-direction: column;
        position: fixed;
    }
    .header__box{
        display: flex;
        flex-direction: column;
        position: fixed;
        .abs{
            width: 100%;
            .bars{
                display: block;
            }
        }
    }
    .menu{
        display: none;
        margin-top: 10px;
        width: 100%;
        border-radius: 0 0 12px 12px;
        background-color: black;

        &__item{
            width: 100%;
            display: flex;
            justify-content: center;
            text-align: center;
        }
        &__link{
            width: 50%;
            &:hover{
                border-radius: 20px;
                box-shadow: inset 0 0 15px $color-link;
                transform: scale(1.2);
            }
            &:focus{
                border-radius: 20px;
                box-shadow: inset 0 0 5px $color-link;
            }
            &:hover::after{
                display: none;
            }
        }
    }
    .home{
        display: flex;
        flex-direction: column;
        &__info{
            order: 2;
            margin-top: 100px;
        }
        &__avatar{
            order: 1;
            margin-left: 11px;
            margin-top: 180px;
            transform: scale(1.7);
            &__box{
                @include size(100%);
                padding: 3px !important;
            }
            &__item{
                @include size(100%)
            }
        }
    }
    // ==========about========== //
    .about{
        &__content{
            flex-direction: column;
            &__image{
                margin: 0;
                transform: scale(1.5);
            }
            &__text{
                margin-top: 70px;
                width: 80%;
            }
            &__btn{
                margin: 0 auto;
                width: 40%;
            }
        }        
    }
}

@media (max-width:771px) {
    .footer__content{
        &__items{
            a{
                display: flex;
                flex-direction: column;
            }
        }    
    }
}

@media (max-width:767px){
    .home{
        &__avatar{
            &__box{
                padding: 3px !important;
            }
        }
    }
    // ==========about========== //
    .about{
        @include title-style-768;
        &__content{
            &__image{
                margin-top: 50px;
            }
        }    
    }
    // ==========contact========== //
    .contact__content{
        position: relative;
        &__info{
            position: relative;
            left: 20%;
        }
        &__form{
            position: absolute;
            left: 50%;
            transform: translate(-50%, 0);
            width: 60% !important;
        }
    }
    // ==========footer========== //
    .footer__content{
        &__list{
            flex-direction: column;
            gap: 5px !important;
        }
        &__items{
            a{
                display: flex;
                align-items: center;
                flex-direction: row;
            }
        }
    }
}

@media (max-width:576px){
    .sci{
        display: none;
    }
    // ==========home========== //
    .home{
        &__info{
            margin-top: 50px;
            margin-left: 10px;
            h1{
                display: flex;
                justify-content: center;
                font-size: 25px;
            }
            h2{
                text-align: center;
            }
            p{
                display: none;
            }
            .btn__sci{
                display: flex;
                flex-direction: column;  
                &__list{
                    margin-left: -12px;
                    margin-top: 10px;
                }      
            }
        }
        &__avatar{
            order: 1;
            margin-left: 11px;
            margin-top: 110px;
            transform: scale(1.5);
        }
    }
    // ==========about========== //
    .about{
        @include title-style-576;
        height: auto;
        &__content{
            &__text{
                width: 100%;
                h2{
                    font-size: 27px;
                }
            }
            &__btn{
                margin: 0 auto;
                width: 150px;
            }
        }    
    }
    // ==========education========== //
    .education{
        @include title-style-576;
    }
    // ==========skill========== //
    .skill{
        @include title-style-576;
    }
    // ==========project========== //
    .project{
        @include title-style-576;
    }
    // ==========review========== //
    .review{
        @include title-style-576;
    }
    // ==========contact========== //
    .contact{
        @include title-style-576;
        &__content{
            &__info{
                left: 0;
            }
            &__form{
                width: 100% !important;
            }
        }
    }
}

@media (max-width:375px){
    // ==========about========== //
    .about{
        @include title-style-375
    }
    // ==========education========== //
    .education{
        @include title-style-375
    }
    // ==========skill========== //
    .skill{
        @include title-style-375
    }
    // ==========project========== //
    .project{
        @include title-style-375
    }
    // ==========review========== //
    .review{
        @include title-style-375
    }
    // ==========contact========== //
    .contact{
        @include title-style-375
    }
}

@media (max-height: 700px) {
    .scrolldown{
        &__box{
            display: none;
        }
    }
}
@media (max-height: 600px) {
    .home{
        &__avatar{
            margin-top: 65px;
        }
    }
}