@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
@mixin max-size($max-width, $max-height: $max-width) {
  max-width: $max-width;
  max-height: $max-height;
}
@mixin min-size($min-width, $min-height: $min-width) {
  min-width: $min-width;
  min-height: $min-height;
}
@mixin center-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin title-style {
  margin-top: 60px;
  margin-bottom: 60px;
  h1 {
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 60px;
    color: transparent;
    &:hover span:nth-child(1) {
      transform: translate(-50%, -12px);
    }
    &:hover span:nth-child(2) {
      transform: translate(-50%, 15px);
    }
    &:hover span:nth-child(3) {
      transform: translate(-50%, -50%) scaleY(1);
    }
    span:nth-child(1),
    span:nth-child(2) {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      overflow: hidden;
      transition: all 0.3s linear;
      -webkit-text-stroke: 1px #ffffff83;
    }
    span:nth-child(1) {
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    }
    span:nth-child(2) {
      clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    }
    span:nth-child(3) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) scaleY(0);
      font-size: 26px;
      display: block;
      width: 100%;
      color: $color-title;
      transition: all 0.3s linear;
      text-shadow: 0 0 3px $color-title, 0 0 5px $color-title;
    }
  }
}
$color-link: #04fffb;
$color-title: #7cf03d;
